.login_signup{
  margin-bottom: 15px;
  color: #fff;
  font-weight: bold;
}
.login_button_margin_bottom{
  margin-bottom: 17px;
}
.facebook_login {
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  border-radius:4px;
}
.or_login_text {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px;
}